body {
    background: #7CED53;
    background: radial-gradient(circle, rgba(124, 237, 83, 1) 0%, rgba(199, 87, 143, 1) 80%, rgba(155, 42, 42, 1) 100%);
    font-size: x-large;
    padding: 0px 4%;
}

h1 {
    text-align: center;
}

body img {
    max-width: 95%;
    border-radius: 30px;
    margin: 0px auto;
    display: block;
}

body h3 {
    margin: 0px important;
    margin-block-end: 0px;
}
