body {
    background: #7CED53;
    background: radial-gradient(circle, rgba(124, 237, 83, 1) 0%, rgba(199, 87, 143, 1) 80%, rgba(155, 42, 42, 1) 100%);
    font-size: x-large;
    padding: 0px 4%;
    color: white;
}

#cusdis_thread {
    display: flex;
    height: 20em; // you can change to different value
}
#cusdis_thread label {
    color: white;
}

body a {
    color: #b4e8f7;
}

h1 {
    font-size: x-medium;
    text-align: center;
}

body a > img {
    width: 80px;
    display: inline;
    margin: 0px;
    padding: 1%;
    border: 1px solid;
    height: 80px;
}


body img {
    max-width: 95%;
    border-radius: 30px;
    margin: 0px auto;
    display: block;
}

body h3 {
    margin: 0px important;
    margin-block-end: 0px;
}
